div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	width: 503px;
	height: 350px;
}
div.navigation{
	margin:50px 0 0 0;
}
div.navigation a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	background-color: #0168a0;
}

div.content a {
	text-decoration: none;
	color: #0168a0;
	font-size: 12px;
}

div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 10px;
	height: 23px;
}
div.controls a {
	color: #0168a0;
	padding: 5px;
	font-size: 11px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both; 
	height: 319px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px; 
	height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 495px; 
	height: 310px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
	padding-top: 10px;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
	border: 1px solid #cccccc;
}
div.download {
	float: right;
}
div.caption-container {
	
}
span.image-caption {
	display: block;
	position: absolute;
}
div.caption {
	background-color: #fff;
	padding: 12px;
	color: #ccc;
}
div.caption a {
	color: #604139;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}

div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
	width: 510px;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 8px 5px 0;
	list-style: none;
}
a.thumb {
	padding: 1px;
	display: block;
	border: 1px solid #cccccc;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination{
	clear: both;
	margin:0;
}

div.navigation div.top {
}
div.navigation div.bottom {
	margin-top: 4px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	font-size: 11px;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 8px 4px 8px;
	border: 1px solid #070908;
}
div.pagination a:hover {
	background-color: #0168a0;
	color: #fff;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #0168a0;
	border-color: #070908;
	color: #fff;
	margin-left: 1px;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
#captionToggle a {
	float: right;
	display: block;
	background-image: url('caption.png');
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 5px;
	padding: 5px 30px 5px 5px;
}
